:host {
  --ion-toolbar-background: transparent;
  --ion-toolbar-color: #fafafa;
}
ion-item {
  --background: transparent;
  --color: #fafafa;
}
:host {
  &:before {
    content: '';
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
  }
  ion-grid {
    position: relative;
    z-index: 2;
  }
}
