<ion-header #header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen hide-header [header]="header">
  <div class="tab-header ion-padding">
    <h3>Events</h3>
  </div>



  <ion-card class="welcome-card">
    <div class="img-wrap">
      <img src="/assets/images/calendar.jpg" alt="" />
    </div>
    <ion-card-header class="header-over-img">
      <div class="titles-wrap">
        <ion-card-title>{{ calendarTitle }}</ion-card-title>
        <ion-card-subtitle>Events Calendar</ion-card-subtitle>
      </div>
      <p class="arrow-buttons">
        <ion-button
          (click)="prevMonth()"
          fill="clear"
          size="small"
          color="light"
          class="arrow-button prev">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>

        <ion-button
          (click)="nextMonth()"
          fill="clear"
          size="small"
          color="light"
          class="arrow-button next">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </p>
    </ion-card-header>
    <!-- <ion-card-content> -->
    <!-- </ion-card-content> -->
    <ng-template #template let-view="view" let-row="row" let-col="col">
      <span class="date-wrap" [ngClass]="{secondary: view.dates[row*7+col].secondary}">
        <span
          *ngIf="view.dates[row*7+col].events.length"
          (click)="eventClicked(view.dates[row*7+col])"
          class="eventIcon"
          [ngClass]="'ion-color-severe-' + view.dates[row*7+col].events[0].severity"
        ></span>
        <span [ngClass]="{future: today < view.dates[row*7+col].date}" class="dateNumberLabel">{{view.dates[row*7+col].label}}</span>
      </span>
    </ng-template>

    <ng-template #templateInactive let-view="view" let-row="row" let-col="col">
      <span class="date-wrap inactive" (click)="eventClicked(view)">
        <span *ngIf="view.dates[row*7+col].events" class="eventIcon"></span>
        <span class="dateNumberLabel">{{view.dates[row*7+col].label}}</span>
      </span>
    </ng-template>

    <calendar
      [monthviewDisplayEventTemplate]="template"
      [monthviewInactiveDisplayEventTemplate]="templateInactive"
      [eventSource]="eventSource"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      formatDayHeader="EE"
      [showEventDetail]="false"
      [startingDayMonth]="1"
      step="30">
    </calendar>
  </ion-card>

  <ion-card class="welcome-card">
    <div class="img-wrap">
      <img src="/assets/images/calendar2.jpg" alt="" />
    </div>
    <ion-card-header class="header-over-img">
      <div class="titles-wrap">
        <ion-card-title>Monthly Summary</ion-card-title>
        <ion-card-subtitle>{{ calendarTitle }}</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <br />
      <dl>
        <dt>Duration</dt><dd>00h:04m:25s</dd>
        <dt>Side</dt><dd>Both</dd>
        <dt>Rescue</dt><dd>Epistatus</dd>
      </dl>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="welcome-card">
       <ion-button fill="clear" size="small" color="light" class="more-button">
       <ion-icon slot="icon-only" name="more"></ion-icon>
       </ion-button>
       <div class="img-wrap">
       <img src="/assets/images/bg.jpg" alt="" />
       </div>
       <ion-card-header>
       <ion-card-subtitle>01.01.2019 / 22:30</ion-card-subtitle>
       <ion-card-title>Full-body dystonia</ion-card-title>
       <ion-card-content>
       <dl>
       <dt>Duration</dt><dd>00h:04m:25s</dd>
       <dt>Side</dt><dd>Both</dd>
       <dt>Rescue</dt><dd>Epistatus</dd>
       </dl>
       <p></p>
       </ion-card-content>
       </ion-card> -->

  <div class="spacer"></div>
</ion-content>
