.tab-header {
  height: 70vh;
  text-align: center;
  color: var(--ion-color-primary-contrast);
  background: var(--ion-color-primary-contrast);
  background: linear-gradient(
    0deg,
    var(--ion-color-primary-contrast) 0%,
    var(--ion-color-primary) 80%
  );
  margin-bottom: calc(4em - 70vh);
}

dl {
  margin: 0;
  font-size: 14px;
  dt {
    display: inline-block;
    width: 49%;
    &:after {
      content: ':';
    }
  }
  dd {
    display: inline-block;
    width: 49%;
    margin: 0;
  }
}

.more-button {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 3;
}
.spacer {
  height: 70px;
}
ion-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.animatable {
    transition: transform 0.33s ease;
  }
  &.hidden {
    transform: translateY(-100%);
  }
}

ion-card {
  position: relative;
  .header-over-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding-top: 36%;
    .titles-wrap {
      position: absolute;
      top: 16px;
      ion-card-subtitle {
        color: #dddddd !important;
        margin-top: 0 !important;
      }
      ion-card-title {
        color: #ffffff !important;
      }
    }
    .arrow-buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .arrow-button.next {
        float: right;
      }
    }
  }
}

.img-wrap {
  width: 100%;
  padding-top: 40%;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  &:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(#000000, 0) 0%,
      rgba(#000000, 0.5) 80%
    );
    z-index: 1;
  }
}

.date-wrap {
  position: relative;
  display: block;
  &.inactive,
  &.secondary {
    opacity: 0.4;
  }
  .dateNumberLabel {
    font-size: 0.75rem;
    position: relative;
    top: -0.75em;
    right: -0.75em;
    color: #222222;
    &.future {
      opacity: 0.4;
    }
  }

  .eventIcon {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background: var(--ion-color-base);
    border-radius: 6px;
    bottom: 0;
    left: 0;
  }
}
