<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="book"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="secondary" (click)="openAddEvent()">
    <ion-icon name="calendar"></ion-icon>
    <ion-icon class="add-circle" name="add-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
