// Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/**Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1d4a9b;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00236c;
  --ion-color-primary-tint: #5975cd;

  /** secondary **/
  --ion-color-secondary: #92d14f;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #609f1b;
  --ion-color-secondary-tint: #c5ff80;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* CUSTOM */

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}
.ion-color-severe-1 {
  --ion-color-base: #8bc34a;
  --ion-color-base-rgb: 139, 192, 74;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #5a9216;
  --ion-color-tint: #bef67a;
}
.ion-color-severe-2 {
  --ion-color-base: #cddc39;
  --ion-color-base-rgb: 205, 220, 57;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #99aa00;
  --ion-color-tint: #ffff6e;
}
.ion-color-severe-3 {
  --ion-color-base: #ffc107;
  --ion-color-base-rgb: 255, 193, 7;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #c79100;
  --ion-color-tint: #fff350;
}
.ion-color-severe-4 {
  --ion-color-base: #ff7043;
  --ion-color-base-rgb: 255, 112, 67;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #c63f17;
  --ion-color-tint: #ffa270;
}
.ion-color-severe-5 {
  --ion-color-base: #d32f2f;
  --ion-color-base-rgb: 211, 47, 47;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #9a0007;
  --ion-color-tint: #ff6659;
}

// Home calendar table
.monthview-primary-with-event,
.monthview-selected {
  background: transparent !important;
}
.monthview-current {
  background: #eeeeee !important;
}

table.monthview-datetable {
  border: none !important;
  thead tr th {
    border: none !important;
    font-size: 0.875rem;
    white-space: nowrap;
    text-align: left;
  }
  tbody tr td {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #eeeeee !important;
  }
}
