.aside-header {
  background-color: #000000;
  color: var(--ion-color-dark-contrast);
  position: relative;
  > * {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
  }
}
.flex-wrap {
  display: flex;
  align-items: center;
  ion-text {
    flex: 1 0 auto;
  }
}
