<ion-header>
  <div class="img-wrap">
    <img src="/assets/images/severity/severity-{{ event.severity }}.jpg" alt="" />
  </div>
  <div
    class="img-border"
    [ngClass]="'ion-color-severe-' + event.severity"
  ></div>

  <ion-title color="light"><span class="day">{{ date.getDate() }}</span> {{ monthNames[date.getMonth()] }}, {{ date.getFullYear() }}</ion-title>
  <ion-button
    (click)="dismiss()"
    fill="clear"
    color="light"
    class="close-button">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  <ion-button
    (click)="dismiss()"
    fill="clear"
    color="light"
    class="edit-button">
    <ion-icon slot="icon-only" size="small" name="create"></ion-icon>
  </ion-button>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Average severity</ion-label>
      <ion-icon slot="start" size="large" name="speedometer"></ion-icon>
      <span slot="end">
        <span class="severity-slider">
          <span [ngStyle]="{left: (100 * (event.severity - 1)/4 ) + '%'}" class="severity-indicator"></span>
        </span>
        <span class="dd severity-index">{{ event.severity }}/5</span>
      </span>
    </ion-item>
    <ion-item class="unavailable">
      <ion-label>Dystonia</ion-label>
      <ion-icon slot="start" size="large" name="body"></ion-icon>
      <span slot="end">
        <span class="dd">None</span>
      </span>
    </ion-item>
    <ion-item>
      <ion-label>Hemiplegia</ion-label>
      <ion-icon slot="start" size="large" name="man"></ion-icon>
      <span slot="end">
        <span class="dd">
          <span>LL, LA</span>&nbsp;
        </span>
      </span>
    </ion-item>
    <ion-item>
      <ion-label>Seizures</ion-label>
      <ion-icon style="transform: rotate(-90deg)" slot="start" size="large" name="man"></ion-icon>
      <span slot="end">
        <span class="dd">3 times, 11 min. avg.</span>
      </span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Notes:</ion-label>
      <ion-textarea readonly style="font-size: 0.875em" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at elit et sem."></ion-textarea>
      <ion-icon slot="start" size="large" name="document"></ion-icon>
    </ion-item>
    <p class="ion-padding-start ion-padding-end dd"></p>

  </ion-list>


</ion-content>
