ion-header {
  position: relative;
}
ion-title {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  .day {
    display: block;
    font-size: 3em;
  }
}
.ios ion-title {
  top: 0;
  left: 0;
  .day {
    display: block;
    font-size: 3em;
  }
}
.close-button {
  position: absolute;
  top: 16px;
  right: 8px;
  z-index: 2;
}
.edit-button {
  position: absolute;
  top: 16px;
  right: 68px;
  z-index: 2;
}
.ios .edit-button {
  right: auto;
  left: 8px;
}

.img-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  &:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(#000000, 0) 0%,
      rgba(#000000, 0.5) 80%
    );
    z-index: 1;
  }
}
.img-border {
  width: 100%;
  height: 6px;
  background: var(--ion-color-base);
}

.severity-slider {
  width: 80px;
  height: 6px;
  background: #8bc34a; /* Old browsers */
  background: linear-gradient(
    to right,
    #8bc34a 0%,
    #cddc39 25%,
    #ffc107 50%,
    #ff7043 75%,
    #d32f2f 100%
  );
  position: relative;
  display: inline-block;
  vertical-algn: middle;
  margin-right: 1em;
  .severity-indicator {
    position: absolute;
    width: 1px;
    height: 1px;
    border-style: solid;
    border-color: #aaaaaa transparent transparent transparent;
    border-width: 6px 6px 0 6px;
    top: -6px;
    margin-left: -6px;
  }
}

.dd {
  font-size: 0.875em;
  linear-height: 1.5em;
  display: inline-block;
  vertical-algn: middle;
}
.unavailable {
  opacity: 0.5;
}
