<ion-header #header>
  <ion-toolbar>
    <ion-title>Reports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen hide-header [header]="header">
  <div class="tab-header ion-padding">
    <h3>Reports</h3>
  </div>

  <ion-card class="welcome-card">
    <ion-button fill="clear" size="small" color="dark" class="more-button">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-card-header>
      <ion-card-subtitle>2019</ion-card-subtitle>
      <ion-card-title>Episodes per Months</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-button fill="clear" size="small" color="dark" class="more-button">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-card-header>
      <ion-card-subtitle>2019 avg.</ion-card-subtitle>
      <ion-card-title>Time of the Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-button fill="clear" size="small" color="dark" class="more-button">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-card-header>
      <ion-card-subtitle>2019</ion-card-subtitle>
      <ion-card-title>Flunarizing over Episodes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
