:host {
  --ion-toolbar-background: var(--ion-color-secondary);
  --ion-toolbar-color: var(--ion-color-secondary-contrast);
}
.tab-header {
  height: 70vh;
  text-align: center;
  color: var(--ion-color-secondary-contrast);
  background: var(--ion-color-secondary-contrast);
  background: linear-gradient(0deg, var(--ion-color-secondary-contrast) 0%, var(--ion-color-secondary) 80%);
  margin-bottom: calc(4em - 70vh);
}

ion-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.animatable {
    transition: transform 0.33s ease;
  }
  &.hidden {
    transform: translateY(-110%);
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 3;
}
