.severity-label {
  overflow: visible;
  text-indent: 32px;
}

.icon-happy {
  color: #8bc34a;
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px 0px 7px 16px;
}

.icon-sad {
  color: #d32f2f;
  position: relative;
  top: 0px;
  right: 0;
  margin: 7px 16px 7px 0px;
  position: absolute;
}
