<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add daily summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter date</ion-label>
    <ion-datetime displayFormat="D MMM YYYY" [value]="date" min="1997" max="2019"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label class="severity-label ion-padding-start" position="stacked">Average severity</ion-label>
    <ion-icon class="icon-happy" size="big" slot="start" name="happy"></ion-icon>
    <ion-icon class="icon-sad" size="big" slot="end" name="sad"></ion-icon>
    <ion-range
      (ionChange)="onRangeChangeHandler()"
      [(ngModel)]="severity"
      min="1"
      max="5"
      step="1"
      snaps="true"
      ticks="true"
      [color]="sliderColor"></ion-range>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Dystonia details
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="stacked">Dystonic episodes</ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Average duration (min.)</ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Hemiplegia details
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Hemiplegia during the day</ion-label>
    <ion-toggle [(ngModel)]="hemiplegia"></ion-toggle>
  </ion-item>
  <ion-item-group class="ion-padding-start" [hidden]="!hemiplegia">
    <ion-item>
      <ion-label>Quadriplegia</ion-label>
      <ion-checkbox [(ngModel)]="quadriplegia"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Left Arm</ion-label>
      <ion-checkbox [disabled]="quadriplegia"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Right Arm</ion-label>
      <ion-checkbox [disabled]="quadriplegia"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Left Leg</ion-label>
      <ion-checkbox [disabled]="quadriplegia"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Right Leg</ion-label>
      <ion-checkbox [disabled]="quadriplegia"></ion-checkbox>
    </ion-item>
  </ion-item-group>
  <ion-item-divider>
    <ion-label>
      Epilepsy details
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="stacked">Number of seizures</ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Average duration (min.)</ion-label>
    <ion-input type="number" value="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-textarea value=""></ion-textarea>
  </ion-item>
</ion-content>
