:host {
  display: block;
  width: 100%;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  > * {
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
  }
  .flex {
    flex: 1 1 auto;
  }
  .content {
    position: relative;
    z-index: 1;
  }
}
