<ion-content color="dark">
  <div class="flex-wrap" color="dark" padding>
    <div class="content" align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <br />
        <h3>
          AHC Tracker<br />
          ( logo )
        </h3>
      </div>
    </div>
    <div class="flex"></div>
    <div class="content" align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding>
        <ion-button routerLink='/login' expand="block">Login</ion-button>
      </div>
      <div text-center>
        If you don't have an account, please <a routerLink='/register'>
        register</a> first!
      </div>
    </div>
  </div>
</ion-content>
