<ion-header #header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen hide-header [header]="header" color="light">
  <div class="tab-header ion-padding ion-text-center">
    <ion-avatar>
      <img src="/assets/images/eli.jpg">
    </ion-avatar>
    <h4>Elisaveta Katsarova</h4>
    <ion-text color="medium">
      ATP1a3/D801N
    </ion-text>
    <ion-button fill="clear" size="small" color="dark" class="settings-button">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </div>

  <ion-card>
    <ion-list>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
