:host {
  --ion-toolbar-background: var(--ion-color-light);
  --ion-toolbar-color: var(--ion-color-light-contrast);
}
ion-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.animatable {
    transition: transform 0.33s ease;
  }
  &.hidden {
    transform: translateY(-110%);
  }
}

.tab-header {
  position: relative;
  ion-text {
    margin: 0;
    font-size: 14px;
  }
  .settings-button {
    position: absolute;
    right: 0;
    top: 26px;
  }
}

ion-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
