:host {
  --ion-toolbar-background: var(--ion-color-dark-contrast);
  --ion-toolbar-color: var(--ion-color-dark);
}

.tab-header {
  height: 70vh;
  // color: var(--ion-color-dark-contrast);
  background: var(--ion-color-light);
  background: linear-gradient(
    0deg,
    var(--ion-color-light) 0%,
    var(--ion-color-dark-contrast) 80%
  );
  margin-bottom: calc(4em - 70vh);
  h1 {
    font-size: 2em;
    margin-top: 16px;
  }
}

ion-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.animatable {
    transition: transform 0.33s ease;
  }
  &.hidden {
    transform: translateY(-110%);
  }
}

.buttons-row {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.5em 0;
}

.section {
  padding-top: 130px;
  margin-top: -120px;
}
