<ion-header #header>
  <ion-toolbar>
    <!-- <ion-title>FAQ</ion-title> -->
    <div class="buttons-row ion-padding-start ion-padding-end">
      <ion-button (click)="scroll(section1, 1)" [fill]="selectedElement === 1 ? 'solid' : 'clear'" size="small">Hello World</ion-button>
      <ion-button (click)="scroll(section2, 2)" [fill]="selectedElement === 2 ? 'solid' : 'clear'" size="small">Section 1</ion-button>
      <ion-button (click)="scroll(section3, 3)" [fill]="selectedElement === 3 ? 'solid' : 'clear'" size="small">Section 2</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen hide-header [header]="header" color="light">
  <div class="tab-header ion-padding">
    <h1>FAQ</h1>
  </div>
  <div class="buttons-row ion-padding-start ion-padding-end">
    <ion-button (click)="scroll(section1, 1)" [fill]="selectedElement === 1 ? 'solid' : 'clear'" size="small">Hello World</ion-button>
    <ion-button (click)="scroll(section2, 2)" [fill]="selectedElement === 2 ? 'solid' : 'clear'" size="small">Section 1</ion-button>
    <ion-button (click)="scroll(section3, 3)" [fill]="selectedElement === 3 ? 'solid' : 'clear'" size="small">Section 2</ion-button>
  </div>

  <div class="ion-padding-start ion-padding-top section" #section1>
    <ion-text color="dark">
      <h3>Hello world</h3>
    </ion-text>
  </div>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="ion-padding-start section" #section2>
    <h3>Section 2</h3>
  </div>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="ion-padding-start section" #section3>
    <h3>Section 3</h3>
  </div>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Personal Information</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>AHC Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/home/tabs/profile">
        <ion-label>Medications Profile</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
